* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

img {
  vertical-align: middle;
}

.container {
  width: 388px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  padding: 60px;
  background-image: url('../images/13iphone.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.heaader-title {
  text-align: center;
}

.header-pic{
  margin-bottom: 20px;
}

.header-inner{
  overflow: scroll;
  height: 349px;
}

.heaader-title-in {
  margin-top: 0;
  margin-bottom: 10px;
}

.header-item {
  display: flex;
  justify-content: center;
}

.header-item__inner {
  margin-left: 10px;
  width: 245px;
  display: flex;
  flex-direction: column;
}

.header-item__inner-go {
  margin-top: 0;
  margin-bottom: 5px;
  color: #333;
}

.header-item__inner-in {
  margin: 0;
  color: #949494;
}
